@model FinalProject.Models.AddInventoryViewModel

@{
    ViewData["Title"] = "Add New Item";
}

<div class="container">
    <h2 class="text-center mb-4" style="color: #594100">Add New Item</h2>

    <form method="post">
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label"> Item Name </label>
                <input asp-for="ItemName" class="form-control" style="border: 2px solid #594100;" />
            </div>
            <div class="col-md-6">
                <label class="form-label"> Amount Sold</label>
                <input asp-for="AmountSold" class="form-control" type="number" style="border: 2px solid #594100;" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label"> Total Price </label>
                <input asp-for="TotalPrice" class="form-control" type="number" step="0.01" style="border: 2px solid #594100;" />
            </div>
            <div class="col-md-6">
                <label class="form-label"> Date Sold </label>
                <input asp-for="DateSold" class="form-control" type="date" style="border: 2px solid #594100;" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label"> Item Type</label>
                <input asp-for="ItemType" class="form-control" style="border: 2px solid #594100;" />
            </div>
        </div>
        <div class="row">
            <div class=" col-md-6 offset-md-6 d-flex justify-content-end">
                <a asp-action="Index" class="btn font-size: 1.5rem;" title="Back to List"><i class="bi bi-backspace fs-4"></i></a>
                <button type="submit" class="btn fw-bold" style="background-color: #DCA06D; color: #594100;"
                    onmouseover="this.style.backgroundColor='#E9A319'"
                    onmouseout="this.style.backgroundColor='#DCA06D'">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>
